/* Theme colors */
$color-primary: #001460;
$color-secondary : #ffc600;

/* colors */
$gree-blue: #00ab9e;
$blue: #00a8c1;
$red: #f7475a;
$pourple: #752995;
$orange: #ff5a19;
$brown: #b57d4f;
$green: #7db849;